
  <div class="sidebar-container bg-securosbar sidebar" >
    <div class="logo_side"> 
      <div class="logo_name text-light">
        <h4></h4>
      </div>
    </div>
  <div class="menu">
    <a href="#" class="d-block p-3 text-light"><i class="fa fa-list-ul mr-3" aria-hidden="true"></i></a>
    <a href="#" class="d-block p-3 text-light"><i class="fa fa-user-circle mr-3" aria-hidden="true"></i></a>
    <a href="#" class="d-block p-3 text-light"><i class="fa fa-cog mr-3" aria-hidden="true"></i></i></a>

  </div>
  </div>