  <div class="section_one" id="section_plate">
    <div class="placa_blanca">
      <div class="header">
        <h6>REPUPLICA DE ARGENTINA</h6>
        <img class="flag" src="./img/arg_flag.gif" alt="img" />
      </div>
      <h1 class="code">-- --- --</h1>
    </div>

    {{! <div class="placa_negra">
           <div class="header">
                <img class="flag" src="./img/arg_escudo.png" alt="img">
                <div class="mark"></div>
                <h4>ARGENTINA</h4>
                <div class="mark"></div>
          </div>
          <h1 class="code">
              NVZ 087
          </h1>
          <div class="footer">
                <div class="mark"></div>
                <h4 class="letter_invisible">ARGENTINA</h4>
                <div class="mark"></div>
          </div>
      </div> }}

      {{!-- <div class="bike_plate">
          <div class="header">
            <h6>REPUPLICA DE ARGENTINA</h6>
            <img class="flag" src="./img/arg_flag.gif" alt="img" />
        </div>
        <h1 class="code">---</h1>
        <h1 class="code">----</h1>
      </div> --}}
    <div class="comentario_wrapper">
      <small>Comentario</small>
      <Label class="comentario"> </Label>
    </div>

  </div>

  <div class="section_two" id="section_two">
    <h3 class="tittle">DATOS DE SINCRONISMO DE LISTAS</h3>
    <div class="fecha_hora_wrapper">
      <div class="fecha_wrapper">
        <small>Fecha</small>
        <Label class="fecha">DD/MM/YY</Label>
      </div>
      <div class="hora_wrapper">
        <small>Hora</small>
        <Label class="hora">00:00</Label>
      </div>
    </div>

    <div class="registro_estado_wrapper">
      <div class="registro_wrapper">
        <small>Registros tranferido</small>
        <Label class="registro">-</Label>
      </div>
      <div class="estado_wrapper">
        <small>estado</small>
        <Label class="estado">-</Label>
      </div>
    </div>
  </div>